body {
	margin: 0;
	padding: 0;
	font-family: 'comfortaa',arial;
}

* {
	box-sizing: border-box;
	cursor: url(../img/cursor-default.png) 4 0, default;
}

html,
body {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

ul > li {
	list-style: none;
}

a {
	cursor: url(../img/cursor-pointer.png) 16 0, pointer;
}

.wrapper {
	min-height: 100%;
}

.hero {
	min-height: 100vh;
	padding: 70px 0;
	background: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse	;
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
}

.height {
	height: 100%;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__content-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 120px 0;
}

.hero__content-item {
}

.hero__content-link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	border: 3px solid white;
	border-radius: 10px;
	padding: 18px 32px;
	letter-spacing: .1em;
	position: relative;
	z-index: 10;
	transition: .4s;
}

.hero__content-link:before {
	content: '';
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 2px;
	transform: scaley(.0);
	opacity: 0;
	z-index: -10;
	transition: 1s;
}

.hero__content-link:hover:before {
	box-shadow: 0 0 20px white;
	transition: .4s;
	transform: scaley(1.0);
	opacity: 1;
}

.hero__content-link:hover {
	color: black;
}

.btn1 {
	border: 3px solid rgba(255, 119, 0, 1);
	transition: .4s;
	position: relative;
	z-index: 10;
}

.btn1:before {
	content: '';
	background: rgba(255, 119, 0, 1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 2px;
	transform: scaley(.0);
	opacity: 0;
	z-index: -10;
	transition: 1s;
}

.btn1:hover:before {
	box-shadow: 0 0 20px rgba(255, 119, 0, 1);
	transition: .4s;
	transform: scaley(1.0);
	opacity: 1;
}


.btn2 {
	border: 3px solid rgba(255, 148, 212, 1);
	position: relative;
	transition: .4s;
	z-index: 10;
}

.btn2:before {
	content: '';
	background: rgba(255, 148, 212, 1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 2px;
	transform: scaley(.0);
	opacity: 0;
	z-index: -10;
	transition: 1s;
}

.btn2:hover:before {
	box-shadow: 0 0 20px rgba(255, 148, 212, 1);
	transition: .4s;
	transform: scaley(1.0);
	opacity: 1;
}

.btn2:hover {
	color: white;
}

.btn4 {
	border: 3px solid rgba(248, 0, 255, 1);
	position: relative;
	z-index: 10;
	transition: .4s;
}

.btn4:before {
	content: '';
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100.1%;
	height: 100%;
	color: white;
	border-radius: 2px;
	transform: scaley(.0);
	opacity: 0;
	z-index: -10;
	transition: 1s;
}

.btn4:hover {
	color: #ff01bd;
	text-shadow: 0 0 6px black;
}

.btn4:hover:before {
	box-shadow: 0 0 20px rgba(255, 0, 64, 1);
	transition: .4s;
	transform: scaley(1.0);
	opacity: 1;
}

.btn5 {
	border: 3px solid rgba(255, 255, 255, 1);
	position: relative;
	z-index: 10;
	transition: .4s;
}

.btn5:before {
	content: '';
	background: rgba(255, 255, 255, 1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100.1%;
	height: 100%;
	color: black;
	border-radius: 2px;
	transform: scaley(.0);
	opacity: 0;
	z-index: -10;
	transition: 1s;
}

.btn5:hover:before {
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	transition: .4s;
	transform: scaley(1.0);
	opacity: 1;
}

.footer {
	background: #000;
	padding: 40px;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__content-block {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 18px;
}

.footer__content-block:hover .footer__content-text {
	animation: redtxt 4s infinite;
}

.footer__content-block:hover .footer__content-wrap {
	animation: imgred 4s infinite;
}

@keyframes redtxt {
	0%,45%,100%{
		text-shadow: 0 0 2px red,0 0 2px red,0 0 2px red,0 0 2px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red;
	}
	50%{
		text-shadow: none;
		color: #505050;
	}
	51%{
		text-shadow: 0 0 2px red,0 0 2px red,0 0 2px red,0 0 2px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red;
	}
	52%{
		text-shadow: none;
		color: #505050;
	}
	53%{
		text-shadow: 0 0 2px red,0 0 2px red,0 0 2px red,0 0 2px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red,0 0 5px red;
	}
	54%{
		text-shadow: none;
		color: #505050;
	}
}

@keyframes imgred{
	0%,100%{
		box-shadow: 0 0 15px 5px red;
	}
	50%{
		box-shadow: 0 0 0;
	}
}

.footer__content-text {
	color: white;
	font-size: 32.2009px;
	animation: text 4s infinite;
	letter-spacing: .02009em;
}

@keyframes text{
	0%,100%{
		text-shadow: 2.5px 2.5px 2px white;
	}
	2%{
		text-shadow: -18px -8px 2px white;
	}
	3%{
		text-shadow: 8px -5px 2px white;
	}
	4%{
		text-shadow: -12px -8px 2px white;
	}
	5%{
		text-shadow: 10px -4px 2px white;
	}
	6%{
		text-shadow: -10px -8px 2px white;
	}
	7%{
		text-shadow: -3px -3px 2px white;
	}
}

.footer__content-wrap {
	width: 60px;
	height: 60px;
	box-shadow: 0 0 10px white;
	border-radius: 100%;
	animation: dragon 4s infinite;
}

@keyframes dragon{
	0%,100%{
		box-shadow: 0 0 10px white;
	}
	50%{
		box-shadow: 0 0 0;
	}
}

.footer__content-wrap-icon {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 0;
}

@media (max-height:730px) {
	.hero__content-list {
		gap: 100px 0;
	}
}

@media (max-width:325px) {
	.hero__content-link {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		border-radius: 10px;
		padding: 18px 30px;
		letter-spacing: .1em;
		position: relative;
		z-index: 10;
		transition: .4s;
	}
}

@media (max-width:310px) {
	.hero__content-link {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		border-radius: 10px;
		padding: 15px 28px;
		letter-spacing: .1em;
		position: relative;
		z-index: 10;
		transition: .4s;
	}

	.footer {
		background: #000;
		padding: 25px;
	}
}
